# The environment name helps us decide which behavior is safe.
# For example, database synchronize is acceptable locally but unsafe in production.
NODE_ENV=development

# API Gateway listens on port 3000.
API_GATEWAY_PORT=3000

# Auth Service listens on port 3001.
AUTH_SERVICE_PORT=3001

# Internal URL used by the API Gateway to call the Auth Service locally.
AUTH_SERVICE_URL=http://localhost:3001

# PostgreSQL host.
# Because the NestJS apps run directly on your machine in this milestone, localhost is correct.
POSTGRES_HOST=localhost

# PostgreSQL port exposed by docker-compose.yml.
POSTGRES_PORT=5432

# PostgreSQL username from docker-compose.yml.
POSTGRES_USER=swiftcart

# PostgreSQL password from docker-compose.yml.
POSTGRES_PASSWORD=swiftcart_password

# PostgreSQL database from docker-compose.yml.
POSTGRES_DB=swiftcart

# JWT signing secret for local development.
# In production, store this in Kubernetes Secrets or a secret manager.
JWT_SECRET=local_super_secret_change_me

# JWT expiration time.
JWT_EXPIRES_IN=15m

# Product Service listens on port 3002.
PRODUCT_SERVICE_PORT=3002

# Internal URL used by the API Gateway to call the Product Service locally.
PRODUCT_SERVICE_URL=http://localhost:3002

# Redis host exposed by docker-compose.yml.
REDIS_HOST=localhost

# Redis port exposed by docker-compose.yml.
REDIS_PORT=6379

# Product list cache duration in seconds.
PRODUCT_CACHE_TTL_SECONDS=60

# Notification Service listens on port 3003.
NOTIFICATION_SERVICE_PORT=3003

# RabbitMQ connection string.
# The username and password match docker-compose.yml.
RABBITMQ_URL=amqp://swiftcart:swiftcart_password@localhost:5672

# Main RabbitMQ exchange for domain events.
RABBITMQ_EXCHANGE=swiftcart.events

# Order Service listens on port 3004.
ORDER_SERVICE_PORT=3004

# Internal URL used by the API Gateway to call the Order Service locally.
ORDER_SERVICE_URL=http://localhost:3004